# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [28]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [29]:
cities = pd.read_csv("cities.csv")
cities.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Mangaratiba,-22.9597,-44.0406,294.28,89,100,0.78,BR,1635228123
1,Severo-Kuril'sk,50.6789,156.1250,280.76,86,25,6.72,RU,1635228125
2,Provideniya,64.3833,-173.3000,266.21,58,75,4.00,RU,1635228126
3,New Norfolk,-42.7826,147.0587,290.31,50,2,0.45,AU,1635228128
4,Christchurch,-43.5333,172.6333,288.68,85,90,0.45,NZ,1635228002

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [30]:
gmaps.configure(api_key=g_key)

In [31]:
locations = cities[["Lat", "Lng"]]
humidity = cities["Humidity"].astype(float)
maxhumidity = humidity.max()

In [32]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, max_intensity=maxhumidity, dissipating=False, point_radius = 4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [33]:
narrow_city = cities.loc[(cities["Max Temp"] > 65) & (cities["Cloudiness"] == 0), :].dropna()
narrow_city.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
34,Cidreira,-30.1811,-50.2056,290.52,71,0,2.50,BR,1635228173
40,Cape Town,-33.9258,18.4232,293.38,48,0,4.12,ZA,1635228079
52,Rafaela,-31.2503,-61.4867,294.85,45,0,1.34,AR,1635228014
86,Boyarka,50.3191,30.2973,274.29,69,0,3.00,UA,1635228206
113,Longyearbyen,78.2186,15.6401,264.06,67,0,4.63,SJ,1635228286

In [37]:
len(narrow_city)

39

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [43]:
hotel_df = narrow_city.loc[:,["City","Country","Lat","Lng"]]

hotel_df["Hotel Name"] = ""

hotel_df.head()

             City Country      Lat      Lng Hotel Name
34       Cidreira      BR -30.1811 -50.2056
40      Cape Town      ZA -33.9258  18.4232
52        Rafaela      AR -31.2503 -61.4867
86        Boyarka      UA  50.3191  30.2973
113  Longyearbyen      SJ  78.2186  15.6401

In [44]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [45]:
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    params["location"] = f"{lat},{lng}"

    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    results = response['results']
    
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    except (KeyError, IndexError):
        print("None")
        
    print("On to the next!")
    
    time.sleep(1)

print("-------End of Search-------")

Retrieving Results for Index 34: Cidreira.
Closest hotel in Cidreira is Hotel Castelo.
On to the next!
Retrieving Results for Index 40: Cape Town.
Closest hotel in Cape Town is The Bay Hotel.
On to the next!
Retrieving Results for Index 52: Rafaela.
Closest hotel in Rafaela is Hotel Plaza Rafaela.
On to the next!
Retrieving Results for Index 86: Boyarka.
None
On to the next!
Retrieving Results for Index 113: Longyearbyen.
Closest hotel in Longyearbyen is Radisson Blu Polar Hotel, Spitsbergen.
On to the next!
Retrieving Results for Index 115: Havre-St-Pierre.
Closest hotel in Havre-St-Pierre is Hotel Du Havre.
On to the next!
Retrieving Results for Index 122: Severnyy.
Closest hotel in Severnyy is Hotel VOYAGE.
On to the next!
Retrieving Results for Index 133: Antofagasta.
Closest hotel in Antofagasta is Hotel NH Antofagasta.
On to the next!
Retrieving Results for Index 152: Saint-Pierre.
Closest hotel in Saint-Pierre is Hôtel Le Saint-Pierre.
On to the next!
Retrieving Results for Index 166: Abu Dhabi.
Closest hotel in Abu Dhabi is Emirates Palace.
On to the next!
Retrieving Results for Index 177: Balkhash.
Closest hotel in Balkhash is Гостиница Respect.
On to the next!
Retrieving Results for Index 188: Fos-sur-Mer.
Closest hotel in Fos-sur-Mer is B&B HOTEL.
On to the next!
Retrieving Results for Index 191: Podgornoye.
Closest hotel in Podgornoye is Benefit Plaza.
On to the next!
Retrieving Results for Index 192: Tiznit Province.
None
On to the next!
Retrieving Results for Index 205: Comodoro Rivadavia.
Closest hotel in Comodoro Rivadavia is Lucania Palazzo Hotel.
On to the next!
Retrieving Results for Index 229: Bushehr.
Closest hotel in Bushehr is Sky 2 hotel.
On to the next!
Retrieving Results for Index 232: Santa Vitória do Palmar.
Closest hotel in Santa Vitória do Palmar is Hotel Franke.
On to the next!
Retrieving Results for Index 240: Shingū.
Closest hotel in Shingū is Sunshine Hotel.
On to the next!
Retrieving Results for Index 254: Maniitsoq.
Closest hotel in Maniitsoq is Hotel Maniitsoq.
On to the next!
Retrieving Results for Index 305: Paso de los Toros.
Closest hotel in Paso de los Toros is Hotel FK Paso de los Toros.
On to the next!
Retrieving Results for Index 310: Sirte.
Closest hotel in Sirte is Al- Waffaa Hotel.
On to the next!
Retrieving Results for Index 336: Khanpur.
Closest hotel in Khanpur is Marhaba Guest House and Hotel.
On to the next!
Retrieving Results for Index 337: Peniche.
Closest hotel in Peniche is Hotel Neptuno.
On to the next!
Retrieving Results for Index 344: Desaguadero.
Closest hotel in Desaguadero is Hotel "El Sol".
On to the next!
Retrieving Results for Index 357: Meadow Lake.
None
On to the next!
Retrieving Results for Index 358: Aljezur.
Closest hotel in Aljezur is Vicentina Hotel.
On to the next!
Retrieving Results for Index 370: Manta.
Closest hotel in Manta is Hotel Vistalmar.
On to the next!
Retrieving Results for Index 371: Barcelos.
Closest hotel in Barcelos is Art'otel Barcelos.
On to the next!
Retrieving Results for Index 380: Natal.
Closest hotel in Natal is Yak Beach Hotel.
On to the next!
Retrieving Results for Index 386: Nuuk.
Closest hotel in Nuuk is Hotel Seamen's Home.
On to the next!
Retrieving Results for Index 429: Bella Union.
Closest hotel in Bella Union is Manantiales Hoteles y Entretenimientos..
On to the next!
Retrieving Results for Index 453: Jati.
Closest hotel in Jati is Cafe Lala Rehan Restaurant.
On to the next!
Retrieving Results for Index 455: Korla.
Closest hotel in Korla is Kangcheng Jian Guo International Hotel.
On to the next!
Retrieving Results for Index 458: Kyzyl-Suu.
Closest hotel in Kyzyl-Suu is Gostinitsa Nur-Ordo.
On to the next!
Retrieving Results for Index 474: Luján.
Closest hotel in Luján is Hotel del Virrey.
On to the next!
Retrieving Results for Index 487: Zonguldak.
None
On to the next!
Retrieving Results for Index 493: Santa Maria.
Closest hotel in Santa Maria is Itaimbé Palace Hotel.
On to the next!
Retrieving Results for Index 505: Sakakah.
Closest hotel in Sakakah is Alnuzl Special Hotel.
On to the next!
Retrieving Results for Index 508: Nichinan.
Closest hotel in Nichinan is PAAK Hotel 犀 -sai-.
On to the next!
-------End of Search-------

In [51]:
hotel_df = hotel_df.dropna(how='any')
hotel_df.head()

#why did this not drop the null?

,City,Country,Lat,Lng,Hotel Name
34,Cidreira,BR,-30.1811,-50.2056,Hotel Castelo
40,Cape Town,ZA,-33.9258,18.4232,The Bay Hotel
52,Rafaela,AR,-31.2503,-61.4867,Hotel Plaza Rafaela
86,Boyarka,UA,50.3191,30.2973,
113,Longyearbyen,SJ,78.2186,15.6401,"Radisson Blu Polar Hotel, Spitsbergen"

In [54]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [55]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations,info_box_content=hotel_info)

fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))